* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    }
    
    
    body {
    background-color: white;
    font-family: Playfair Display;
    width:100%;
    
    
    }
   

    .container {
    background-color: #ff814b ;
    text-align: center;
   border:  2px solid black;
    margin: 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    .container h2 {
        margin: 0 20px;
    }
    .orange-box {
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:400px;
        margin: auto;
    }
    .container3 {
        background-color:#083c7b ;
        background-color: #ff814b ;
        text-align: center;
       border:  2px solid black;
        text-align: center;
        margin: 20px;
        height: 300px;
        
        }

        .lasttext1 {
            background-color: #ff814b ;
            text-align: center;
           border:  2px solid black;
            margin: 20px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Platypi;
        }
    
    .container2 {
        background-color: #F85F59;
        
        text-align: center;
        margin: 20px;
        height:700px
        
        }
    
    .imgcontainer {
        text-align: center; 
      }
      
      .container img {
        display: inline-block; 
      }
    
    footer {
    background-color:  rgb(49, 92, 7);
    color: white;
    padding: 20px 0;
    text-align: center;
    }
    .footer-content {
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    }

    h1 {
    color: white;
    }
    h2 {
        color: black;
    }
    h3 {
    color: black
    }
    
    
    p {
    font-family: Platypi;
    margin-top: 30px;
    }

    .imagetext {
        position: relative;
        text-align: center;
        color: white; 
        
      }
      .imagetext img {
        width: 100%; 
        height: auto;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5); 
        padding: 20px; 
        border-radius: 10px; 
      }
   
    
    h2 {
        color: black;
    }
    .background-box {
        background-color: #f0f0f0; 
        padding: 20px; 
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
      }

    
    .navbar {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        background-color:rgb(49, 92, 7);
        color: white;
        width:100%;
    }
    
    .brand-title {
        font-size: 1.5rem;
        margin: .5rem;
    }
    
    .navbar-links {
        height: 100%;
    }
    
    .navbar-links ul {
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .navbar-links li {
        list-style: none;
    }
    
    .navbar-links li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 1rem;
    }
    
    .navbar-links li a:hover 
    { color: gold;

    }
    
    
    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    
    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }


    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .imgcontainer img {
        max-width: 100%;
        height:auto;
    }
   
    @media only screen and (min-width: 768px) {
            
        
            .mediaquerycontainer {
                display: flex;
                flex-direction: row;
                margin-left: 140px;
                
                
            }
            .container {
                height: 400px;
                width: 600px;
               
                
            }
            .imagetext {
                margin-top: 20px;
                
            }

            .imgcontainer {
                margin-top: 20px;
            }

            .mediaquerycontainer2 {
                display: flex;
                flex-direction: row;
                margin-left: 140px;
            }
            .container3
            { height: 400px;
            width: 600px;
             }

             .mediaquerycontainer3 {
                display: flex;
                flex-direction: row;
                margin-left: 140px;

             }

             .lasttext1 {
                height: 400px;
                width: 600px;
             }

             .footer-content {
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width:400px;
                margin: auto;
            }
            
            .background-box {
                background-color: #f0f0f0; 
                padding: 20px; 
                border-radius: 10px;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
              }
        
            
            .navbar {
                display: flex;
                position: relative;
                justify-content: space-between;
                align-items: center;
                background-color:rgb(49, 92, 7);
                color: white;
                width:100%;
            }
            
            .brand-title {
                font-size: 1.5rem;
                margin: .5rem;
            }
            
            .navbar-links {
                height: 100%;
            }
            
            .navbar-links ul {
                display: flex;
                margin: 0;
                padding: 0;
            }
            
            .navbar-links li {
                list-style: none;
            }
            
            .navbar-links li a {
                display: block;
                text-decoration: none;
                color: white;
                padding: 1rem;
            }
            
            .navbar-links li a:hover 
            { color: gold;
        
            }
            
            
            .toggle-button {
                position: absolute;
                top: .75rem;
                right: 1rem;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                width: 30px;
                height: 21px;
            }
            
            .toggle-button .bar {
                height: 3px;
                width: 100%;
                background-color: white;
                border-radius: 10px;
            }
        
        
            .navbar {
                flex-direction: column;
                align-items: flex-start;
            }
        
            .toggle-button {
                display: flex;
            }
        
            .navbar-links {
                display: none;
                width: 100%;
            }
        
            .navbar-links ul {
                width: 100%;
                flex-direction: column;
            }
        
            .navbar-links ul li {
                text-align: center;
            }
        
            .navbar-links ul li a {
                padding: .5rem 1rem;
            }
        
            .navbar-links.active {
                display: flex;
            }
             }

             


        
        
                
       
        